/**
 * Pedro Carrazco | Snake 0.1
 * 
 * No Copyright so far
 * Sin Copyright hasta ahora
 * 
 * This project is just a hobbie, created by Pedro Carrazco,
 * reproduction is totally allowed as this code is just for fun.
 * 
 * Este proyecto es solamente un hobbie, creado por Pedro Carrazco,
 * cualquier reproduccion es permitida debido a que este codigo tiene 
 * fines unicamente de entretenimiento.
 * 
 * @version 0.1
 * @author Pedro Jose Carrazco Rivera
 */
 /* General Styles */
 body,html,div,h1,h2{
	margin:0;
	padding:0;
	overflow:hidden;
 }
 body{
	background-color:#565F66;
	color:#333;
	font: 12px/1.2 normal Arial, Helvetica, sans-serif;
	height:100%;
	padding:0;
 }
 html{
	background-color:#565F66;
	height:100%;
 	overflow:auto;	 
 }
 /* Interface Styles */
h1{
	background: url("Logo.jpg") 10px 12px scroll no-repeat rgba(0,0,0,0.5);
	border-radius: 0 0 5px 5px;
	box-shadow:0px 0px 5px #333;
	color:#DDD;
	display:block;
	font-size:24px;
	font-weight:normal;
	padding:10px 10px 10px 44px;
}
#GridContainer{
	background-color:#565F66;
	left:50%;
	overflow:visible;
	padding:5px;
	position:absolute;
	top:50%;
}
/* Control Tab */
#tab{
	background-color:#F1F1F1;
	border:1px solid #AAAAAA;
	border-radius: 0 0 0 3px;
	padding:0 5px 5px;
	position:fixed;
	right:0;
	top: 100px;
	width:200px;
	
	/* CSS3 Transitions, IE7-8 Not Available */
	  -webkit-transition-duration: 0.5s;
		 -moz-transition-duration: 0.5s;
		  -ms-transition-duration: 0.5s;
		   -o-transition-duration: 0.5s;
			  transition-duration: 0.5s;
}
#tab.closed{
	right:-212px;
}
#tab h2{
	font: 16px/1.2 normal Arial, Helvetica, sans-serif;
	padding:0;
	margin: 0 0 5px;
}
#tab div{
	background-color:#F1F1F1;
	border-top:1px solid #AAAAAA;
	padding:10px 5px;
}
#tab div:first-child{
	border:0 none;
}
#tab div.tabControl{
	background:url("Tab.jpg") scroll 0 0 no-repeat transparent;
	border: 0 none; 
	cursor: pointer;
	height:36px;
	left:-32px;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	text-indent:40px;
	top:-1px;
	width:32px;
}
#tab div input{
	background-color:white;
	border: 1px solid #AAA;
	border-radius: 3px;
}
#tab div input[type="text"]{
	width:75px;
	margin-bottom:10px;
}
#tab div input[type="button"]{
	background-color:#68A;
	border-color:#468;
	color:#FFF;
	cursor:pointer;
	margin:0;
	padding:5px 10px;
}
#tab div input[disabled]{
	background-color:#CCC;
	border-color:#999;
	color:#999;
}
#tab div .legend{
	background-color:#F6F6F6;
	border:1px solid #F6F6F6;
	border-radius: 5px;
	color:#888;
	display:block;
	font-style:italic;
	margin:10px 0;
	padding:5px 10px;
}

 /* Custom Game of Life Styles */
 #GridContainer #GRID{
	border-radius: 5px;
	box-shadow:0px 0px 10px #000;
	margin-left:-50%;
	margin-top:-50%;
 }
 #GridContainer #GRID .cell{
	/* CSS3 Transitions, IE7-8 Not Available */
	  -webkit-transition-duration: 0.2s;
		 -moz-transition-duration: 0.2s;
		  -ms-transition-duration: 0.2s;
		   -o-transition-duration: 0.2s;
			  transition-duration: 0.2s;
 }
 #GridContainer #GRID .cell.on{
	background-color:black;
 }
 #GridContainer #GRID .cell.s1{
	background-color:#99F;
 }
 #GridContainer #GRID .cell.s2{
	background-color:#9F9;
 }
 #GridContainer #GRID .cell.s3{
	background-color:#F99;
 }
 #GridContainer #GRID .cell.s4{
	background-color:#FF9;
 }
 #GridContainer #GRID .cell.s6{
	background-color:#F9F;
 }
 #GridContainer #GRID .cell.s7{
	background-color:#9FF;
 }
